# Created after python is installed
.python-version

# This file is created after dynamically after running script/bootstap
git/gitconfig.symlink

# Atom files
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store/

# Config files
tmux/tmuxline.sh
prompt/
