[submodule "powerline-fonts/fonts"]
	path = powerline-fonts/fonts
	url = https://github.com/powerline/fonts.git
[submodule "maximum-awesome"]
	path = maximum-awesome
	url = https://github.com/square/maximum-awesome
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
