"*":
  "atom-beautify":
    general:
  core:
    disabledPackages: []
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "$HOME/hacking"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "git-plus": {}
  linter: {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap: {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
