"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 15
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  linter: {}
  minimap: {}
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: []
    projectHome: "$PROJECTS"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "markdown-preview":
    useGitHubStyle: true
